.alink {
    color: #483D8B;
}

.alink:hover {
    color: rgba(255, 72, 0, 0.829);
    text-decoration: none;
    font-style: italic;
}

.upperBox {
    height: 75vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.nameBox {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: .5rem;
    /* border: 1px solid black; */
}
.box-1{
    width: 70%;
}

.box-1:hover {
    color: red;
}

.box0 {
    width: 75%;
}

.box0:hover {
    color: blue;
}

.box1 {
    /* border: 1px solid red; */
    width: 80%;
}

.box1:hover {
    color: green;
}

.box2 {
    /* border: 1px solid blue; */
    font-size: .6rem;
}

.box2:hover {
    color: orange;
}

.box3 {
    /* border: 1px solid green; */
    width: 93%;
}

.box3:hover {
    color: blue;
}

.box4 {
    width: 98%
}

.box4:hover {
    color: cyan;
}

.box5 {
    width: 49.5%;
    margin-left: 30%;
    /* border: 1px solid red; */
}

.box5:hover {
    color: rgb(218, 1, 181);
}

.box6 {
    width: 90%
}

.box6:hover {
    color: rgb(218, 26, 1);
}

.box7 {
    width: 87%
}

.box7:hover {
    color: rgb(135, 218, 1);
}

.box8 {
    /* None */
}

.box8:hover {
    color: rgb(1, 131, 218);
}