.alink {
    color:  white;
}

.alink:hover {
    color: rgb(0, 162, 255);
    text-decoration: none;
    font-style: italic;
}

.upperBox {
    height: 75vh;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    
}

.nameBox {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: .5rem;
    /* border: 1px solid black; */
}

.text1 {
    font-size: 1.3rem;
}

li {
    color: white;
    /* thinking */
}

h3 {
    color: white;
}

.new-box {
    width: 75%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25%;

}